:root {
    --primary-background-color: #3c4146;
    --primary-text-color:#6f7377 ;
    --secondary-text-color: #081622;
    --icon-highlight:#868991;
    --textbox-color: #6f7377;
    --select-color: #868991;

}