:root {
    --primary-background-color: #f5ede4;
    --primary-text-color: #442407;
    --secondary-text-color: #1e0e04;
    --icon-highlight: #7c4e0d;
    --textbox-color: #774d15;
    --select-color: #dabc92;

}