:root {
    --primary-background-color: #fecaee;
    --primary-text-color: #f069c8;
    --secondary-text-color: #bf1681;
        --icon-highlight: #bf1681;
    --textbox-color: #f9ddf3;
    --select-color: #f9ddf3;

}